.navigation ul {
	float: right;
	font-size: 12px;
	font-family: sans-serif;
	margin: 18px 12px auto auto;
	width: 510px;
}

.navigation li{
	display: inline-block;
	margin: 0 10px; 
}

.navigation a {
	color: #369;
	text-decoration: none;
}

.navigation span{
	color: #0099cc;
}

.navigation a:hover {
	color: gray;
}

.main-header {
	text-align: center;
	margin: 0 auto 25px;
	width: 60%;
	clear: both;
}

.main-header img {
	margin-top: 35px;
}

.main-header h1{
	font-size: 48px;
	line-height: 70px;
	width: 750px;
	text-align: center;
}

.main-header h2{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 500;
	margin: 10px 0;
}

.products{
	text-align: center;
	display: block;
	width: 60%;
	margin: 0 auto 25px;
}
.products p {
	text-align: center;
	margin-left: 0;
}

.bc {
	margin: 0 auto;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    width: 30%;
}

.hr {
	margin: 0 auto;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    width: 30%;
}

.cf {
	margin: 0 auto;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    width: 30%;
}

hr {
	background: url('../img/starshr.png') no-repeat scroll 50% 50%;
	border: 0;
    clear: both;
    height: 12px;
    margin-top: 48px;
}

.arrow-left {
	float: left;
	position: relative;
	top: -35px;
}

.millions {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	height: 600px;
}

.millions h1 {
	font-size: 38px;
	line-height: 45px;
	margin: 30px auto 0 0;
}

.meet {
	position: relative;
	right: 150px;
	top: -85px;
}

.meet a {
	background-image: url("../img/meetimg-customers.png");
	display: block;
	height: 108px;
	width: 143px;
	top: -50px;
	text-indent: -1000em;
}

.meet p {
	float: left;
	margin: 0 0 16px 0;
	color: #369;
}

a:hover {
	background-position: 0 100%;
}

.globe {
	float: right;
	position: relative;
	left: 80px;
	top: -65px;

}

.customers p {
	font-size: 22px;
	line-height: 1.5em;
	text-align: left;
	float: left;
	position: relative;
	top: -295px;
	width: 80%;
	color: gray;
}

.companies {
	position: relative;
	top: -285px;
}

.manifesto {
	height: 790px;
	margin: 30px auto;
	width: 70%;	
	position: relative;
	top: -120px;
	text-align: center;
}

.manifesto h1 {
	font-size: 48px;
	margin-top: 170px;
}

.column {
	width: 35%;
	display: inline-block;
	margin: 0 15px;
	padding: 0 35px;

}

.chapter {
	font-size: 58px;
	float: left;
	padding:3px;
}

.title {
	font-weight: bold;
	text-align: left;
	font-size: 19px;
}

p {
	font-size: 16px;
	text-align: left;
	margin-left: 35px;
}

.column2 {
	width: 35%;
	display: inline-block;
	margin: 0 15px;
	padding: 0 35px;
	line-height: 1.22;
}

.rework {
	position: relative;
	top: -140px;
}

.rework h1 {
	text-align: center;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 140px;
}

.arrow-right {
	float: right;
    position: relative;
    top: -20px;
    right: 160px;
}

.crumple {
	float: right;
    position: relative;
    left: 50px;
    top: -105px;
}

.crumple a {
	text-decoration: none;
}

.crumple a:hover {
	text-decoration: underline;
}

.crumple p {
	font-weight: lighter;
	font-size: 14px;
}

.book {
	display: inline-block;
    position: relative;
    top: 25px;
    left: 165px;
}

.quotes {
	display: inline-block;
    float: right;
    width: 45%;
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    font-style: italic;
}

.quotes p {
	text-align: center;
}

.offers {
	text-align: center;
	position: relative;
    top: -125px;
}

.offers h1 {
	font-size: 45px;
}

.offers span {
	color: #C00;
	padding: 0 40px 5px 40px;
	border-bottom: 1px solid #dcd9d9;
	font-weight: bold;
	font-size: 17px;
}

small {
	position: relative;
	top: -15px;
}

.offers .column {
	width: 25%;
}

.offers .column2 {
	width: 25%;
	position: relative;
    top: 10px;
}

.extra {
	text-align: center;
	position: relative;
	top: -75px;
}

.extra span {
	color: #C00;
    padding: 0 40px 5px 40px;
    border-bottom: 1px solid #dcd9d9;
    font-weight: bold;
    font-size: 17px;
}

.extra p {
	text-align: center;
	margin-left: 0;
	color: #336699;
}

footer {
	margin: 50px 25px;
	text-align: center;
	font-size: 12px;
}

footer a {
	text-decoration: none;
	color: #336699;
}

footer a:hover {
	color: gray;
}